include LICENSE

recursive-include bemserver_core *.polar
include bemserver_core/common/units.txt

include bemserver_core/alembic.ini
graft bemserver_core/migrations

graft tests
include tox.ini
include requirements/*.txt

global-exclude *.py[co]
